h1 {
    color: #333;
    font-family: 'painter', serif;
    font-size: 15rem;
    z-index: 1;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    pointer-events: none;
}

#ombre_titre {
    color: #FEFEFE;
    font-size: 16rem;
    text-shadow: 0 0 50px black;
    pointer-events: none;
}

/* ------ CAROUSEL -------------------------------------------------------------------------------------------------- */

#slider {
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 0;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
    left: 0;
    animation: 35s slidy infinite;
    animation-play-state: paused;
}

#slider:hover figure{
    animation-play-state: running;
}

#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}

@keyframes slidy{
    0% { left: 0; }
    9% { left: 0; }
    18% { left: -100%; }
    27% { left: -100%; }
    36% { left: -200%; }
    45% { left: -200%; }
    54% { left: -300%; }
    63% { left: -300%; }
    72% { left: -400%; }
    81% { left: -400%; }
    100% { left: 0; }
}

#chevron-bas{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 2.3rem;
    color: white;
    opacity: 1;
    pointer-events: none;
}

#chevron-bas i{
    display: block;
}

#chevron-bas-1{
    animation-duration: 4s;
    animation-name: chevron-bas_animation;
    animation-iteration-count: infinite;
}

#chevron-bas-2{
    animation-delay: 1.333s;
    animation-duration: 4s;
    animation-name: chevron-bas_animation;
    animation-iteration-count: infinite;
}

#chevron-bas-3{
    animation-delay: 2.666s;
    animation-duration: 4s;
    animation-name: chevron-bas_animation;
    animation-iteration-count: infinite;
}

@keyframes chevron-bas_animation {
    0% { opacity: 1; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}