@font-face {
    font-family: "Yanone";
    src: url("../font/YanoneKaffeesatz.ttf");
}

@font-face {
    font-family: "painter";
    src: url("../font/painter.ttf");
}

*{
    font-family: "Yanone";
    margin: 0;
    padding: 0;
}

#form_div{
    width: 40%;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
}

#form_div h1{
    font-family: 'Painter';
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

#form_div h2{
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10%;
}

#form_div form{
    background-color: rgba(217, 52, 163, 0.46);
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 15px white;
}

form input{
    width: 60%;
    font-size: 2rem;
    border: none;
}

form label{
    padding: 1% 3%;
    margin: 2%;
    width: 20%;
    color: white;
    position: relative;
    display: inline-block;
}

form button{
    width: 50%;
    padding: 2.5%;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(217, 52, 163, 0.46);
}